@import 'vars';

.MobileMenu {
    padding: 24px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 3.8em;
    height: 100vh;
    width: 100%;
    background-color: var(--white);
}

.MobileMenu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    /* margin-bottom: 24px; */
}
.MobileMenu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}
.MobileMenu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
}
.MobileMenu ul li {
    margin-bottom: 24px;
}

.MobileMenu-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    right: 5em;
}
.MobileMenu-container img{
    width: 15px;
    height: 15px;
}

.email {
    font-size: var(--sm);
    font-weight: 300 !important;
}
.sign-out {
    font-size: var(--sm);
    color: var(--hospital-green) !important;
}